---
import BaseHead from "../components/essentials/BaseHead.astro";
import Header from "../components/essentials/Header.astro";
import Footer from "../components/essentials/Footer.astro";
import { getCollection } from "astro:content";
import Post from "../components/Post.astro";
const { title, description, date } = Astro.props;

const meetups = (await getCollection('meetups'))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());

const reports = (await getCollection('reports'))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
  
const interventions = (await getCollection('interventions'))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} date={date} />
  </head>
  <body>
    <Header />
    <main>
      <div class="post">
        <h1>Aktualności</h1>
        <div class="cards-container">
          <div class="cards-category">
            <h2>Nowości</h2>
            <div class="cards-grid">
              {reports.map((report) => <Post item={report} />)}
            </div>
          </div>
          <div class="cards-category">
            <h2>Wydarzenia</h2>
            <div class="cards-grid">
              {meetups.map((meetup) => <Post item={meetup} />)}
            </div>
          </div>
          <div class="cards-category">
            <h2>Interwencje</h2>
            <div class="cards-grid">
              {
                interventions.map((intervention) => (
                  <Post item={intervention} />
                ))
              }
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>

<style>
  h1 {
    font-size: 3.6rem;
    margin-block: 0.6em 2em;
  }

  main {
    padding: 5em 9em;
    background-color: var(--cream);
  }

  div {
    margin: 0 auto;
  }

  h2 {
    font-size: 3rem;
    margin-block: 0.6em 1em;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }

  .cards-category {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    margin-inline: auto;
  }

  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    width: 100%;
    justify-content: space-between;
  }

  .post {
    max-width: 1400px;
    margin-bottom: 2em;
    margin-inline: auto;
    overflow: hidden; /* Ensures images don't overflow */
  }

  .post img {
    max-width: 100%; /* Prevents images from sticking out of the container */
    height: auto; /* Maintain aspect ratio */
  }

  @media (max-width: 747px) {
    .cards-container {
      justify-content: center;
    }

    .cards-grid {
      flex-direction: column; /* Stack the posts in a single column on smaller screens */
    }
  }
</style>
