---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/index/Hero.astro";
import About from "../components/index/About.astro";
import BlogHighlight from "../components/index/BlogHighlight.astro";
import Footer from "../components/Footer.astro";
import Accordion from "../components/index/Accordion.astro";
import Tabs from "../components/index/Tabs.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { title, description, date } = Astro.props;

import { getCollection } from "astro:content";
const posts = await getCollection("posts");

const meetups = (await getCollection('meetups'))
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());

const reports = (await getCollection('reports'))
  .sort((a, b) => a.data.date.valueOf() - b.data.date.valueOf());

declare global {
  interface Window {
    netlifyIdentity: any;
  }
}
---

<html lang="en">
	<head>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} title={title} description={description} date={date}/>
	</head>
	<body>
		<Header />
		<Hero />
		<About />
		<Tabs meetups={meetups} reports={reports}/>
		<Accordion/>
		<BlogHighlight posts={posts} />
		<Footer />
		<script>
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", (user: any) => {  // Explicitly declaring user as any
				console.log(user);
			  });
			  window.netlifyIdentity.on("login", () => {
				document.location.href = "/admin/";
			  });
			}
		  </script>
	</body>
</html>
