---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import BlogHighlight from "../components/BlogHighlight.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
const { title, description, date } = Astro.props;

import { getCollection } from "astro:content";
const posts = await getCollection("posts");

declare global {
  interface Window {
    netlifyIdentity: any;
  }
}
---

<html lang="en">
	<head>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} title={title} description={description} date={date}/>
	</head>
	<body>
		<Header/>
		<Hero/>
		<BlogHighlight posts={posts}/>
		<Footer/>
		<script>
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", user => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/public/admin/";
				  });
				}
			  });
			}
		</script>
	</body>
</html>
