---
const { adoption } = Astro.props
---

<div class="card">
    <a href={`/gołębie-do-adopcji/${adoption.slug}`}>
        <img 
            src={adoption.data.pubImage}
            alt={adoption.data.pigeon_name}
        />
    </a>
    <div class="title-adoption">
        <a href={`/gołębie-do-adopcji/${adoption.slug}`}>
            <h2 class="title">
                {adoption.data.pigeon_name}
            </h2>
        </a>
        <h3>
            {adoption.data.species}
        </h3>
        <h3>
            {adoption.data.gender}
        </h2>
    </div>
    <p>{adoption.data.description}</p>
    <!-- <a class="show-more" href={`/gołębie-do-adopcji/${adoption.slug}`}>
        czytaj więcej...
    </a> -->
</div>

<style>
    
    .card {
        display: flex;
        flex-direction: column;
        gap: 1em;
        max-width: 272px;
        width: 100%;
        height: 334px;
        padding: 10px;
        border-radius: 20px;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition-duration: 0.5s;
    }

    .card:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

    .title-adoption {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5em;
        justify-content: space-between;
        justify-items: center;
    }

    .title {
        color: var(--plum);
        font-family: "Ubuntu Condensed";
        font-weight: 700;
        font-size: 2.4rem;
        text-align: left;
        
    }

    h3 {
        font-size: 1.6rem;
    }

    .date {
        font-family: "Montserrat";
        font-size: 1.4rem;
        text-align: right;
        font-weight: 500;
    }

    .show-more {
        margin-left: auto;
        font-weight: 700;
        font-size: 1.8rem;
        color: var(--plum);
        font-family: "Ubuntu Condensed";
    }

    p {
        font-size: 1.6rem;
        font-weight: 400;
        color: var(--gray);
        line-height: 22px;
    }

    img {
        border-radius: 8px;
        object-fit: cover;  /* This will ensure the image covers the area specified */
        width: 100%;
        border-radius: 20px;
        height: 210px;      /* Specify the height */
    }

    /* @media  (min-width: 458px) { 
        .title {
            font-size: 2.6rem;
        }
    }

    @media  (max-width: 458px) { 
        .card {
            max-width: 260px;
            max-height: 420px;
        }

        img {
            object-fit: cover;
            max-width: 200px;
            max-height: 200px;
        }
    } */

</style>