---
import { type CollectionEntry } from "astro:content";
import FormattedDateShort from "./essentials/FormattedDateShort.astro";

type Props = {
    item: CollectionEntry<"posts" | "meetups" | "reports" | "interventions" | "pigeons">;
    backgroundColor?: string;
}

const { item, backgroundColor } = Astro.props

const baseSlug = item.collection === 'posts' 
    ? 'poradniki' 
    : item.collection === 'reports' 
    ? 'aktualności' 
    : item.collection === 'meetups'
    ? 'meetups'
    : item.collection === 'interventions'
    ? 'interwencje'
    : item.collection === 'pigeons' 
    ? 'atlas-gołębi'
    : '';   

const postBackgroundColor = backgroundColor
  ? `background-color: ${backgroundColor};`
  : `background-color: var(--white);`;
---

<div class="card" style={postBackgroundColor}>
    <a class="card-img" href={`/${baseSlug}/${item.slug}`}>
        <img 
            src={item.data.image}
            alt={item.data.title}
        />
    </a>
    <div class="title-item">
        <a href={`/${baseSlug}/${item.slug}`}>
            <h2 class="title">
                {item.data.title}
            </h2>
        </a>
        {item.collection !== 'pigeons' && item.data?.pubDate && (
            <span class="date">
              <FormattedDateShort date={item.data.pubDate} />
            </span>
        )}
    </div>
    <p>{item.data.description}</p>
    <a class="show-more" href={`/${baseSlug}/${item.slug}`}>
        czytaj więcej...
    </a>
</div>

<style>
    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 380px;
        width: 100%;
        height: 540px;
        border-radius: 16px;
        padding: 12px;
        background-color: #ffffff;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        transition-duration: 0.5s;
    }

    .card:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    }

    .title-item {
        display: grid;
        grid-template-columns: 6fr 1fr;
        gap: 0.5em;
        justify-content: space-between;
        align-items: center;
    }

    .title {
        color: var(--plum);
        font-family: "Ubuntu Condensed";
        font-weight: 700;
        font-size: 2rem;
        text-align: left;
        
    }

    .date {
        font-family: "Montserrat";
        font-size: 1.4rem;
        color: var(--greyed-out-plum);
        text-align: right;
        font-weight: 500;
    }

    .show-more {
        margin-left: auto;
        font-weight: 700;
        font-size: 1.8rem;
        color: var(--plum);
        font-family: "Ubuntu Condensed";
    }

    p {
        font-size: 1.6rem;
        font-family: "Poppins";
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .card-img {
        width: 100%;
    }

    img {
        border-radius: 8px;
        object-fit: cover;
        aspect-ratio: 3/2;
    }

    @media  (min-width: 458px) { 
        .title {
            font-size: 2.6rem;
        }
    }

    @media  (max-width: 500px) { 
        .card {
            max-height: 480px;
        }
    }

</style>