---
import { type CollectionEntry } from "astro:content";
import FormattedDate from "./essentials/FormattedDate.astro";

type Props = {
    item: CollectionEntry<"posts" | "pigeons">
}

const { item } = Astro.props;

const baseSlug = item.collection === 'posts' 
    ? 'blog' 
    : item.collection === 'pigeons' 
    ? 'atlas-gołębi' 
    : '';  
---

<div class="post-card">
    <div class="flex1">
    <a class="grid-title" href={`/${baseSlug}/${item.slug}`}>
        <h2 class="title">{item.data.title}</h2>
        <h2 class="species pigeon-info">{item.data.species}</h2>
    </a>
    <!-- <span class="date">{item.data.pubDate && <FormattedDate date={item.data.pubDate} />}</span> -->
    <p class="description">{item.data.longDescription}</p>
 
    <a class="show-more" href={`/${baseSlug}/${item.slug}`}>
        czytaj więcej...
    </a>
    </div>

    <div class="flex2">
        <a class="grid-img" href={`/${baseSlug}/${item.slug}`}>
            <img src ={item.data.image} width={300} height={300} alt={item.data.title}/>
        </a>
    </div>

</div>

<style>
    .post-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-items: center;
        
        gap: 10px;
        
        width: 100%;
        max-width: 780px;
        min-height: 300px;
        padding: 16px;

        border-radius: 16px;
        background-color: #f9e9e2;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        transition-duration: 0.5s;
    }

    .post-card:hover {
        transform-origin: top;
        transition-duration: 0.5s;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }

    .title {
        color: var(--plum);
        font-weight: 700;
        margin-bottom: 0.2em;
    } 

    .species {
        font-style: italic;
    }

    .pigeon-info {
        font-size: 1.6rem;
        margin-bottom: 0.2em;
    }

    .flex1 {
        margin-block: 10px;
        display: flex;
        gap: 4px;
        flex-direction: column;
        justify-content: space-between;
        
    }

    flex2 {
        width: 351px;
    }

    h2 {
        font-size: 2.4rem;
        font-family: "Ubuntu Condensed";
    }

    h3 {
        font-size: 2rem;
    }

    .show-more {
        margin-left: auto;
        font-weight: 700;
        font-size: 2rem;
        color: var(--plum);
        font-family: "Ubuntu Condensed";
    }
    
    .description {
        font-size: 2rem;
        line-height: 24px;
        margin-block: 10px 2px;
    }
    
    img {
        max-width: 420px;
        object-fit: cover;
        display: block;
        margin-inline: auto;
        
    }

    @media (min-width: 400px) {
        img{ 
        height: 351px;

        }

    }

    @media (min-width: 760px) {
        .post-card {
            flex-direction: row;
            gap: 20px;

        }

        .flex1 {
            gap: 20px;
        }
        img {
            width: 351px;
            height: calc(100% - 5px);          aspect-ratio: 1 / 1;
             /* Full width of the container */
            vertical-align: center;
        }

        h2 {
            font-size: 2.6rem;
        }
    }

    @media (min-width: 700px) {
    }

    


</style>