---
import type { CollectionEntry } from 'astro:content';
import BaseHead from "../components/essentials/BaseHead.astro";
import Header from "../components/essentials/Header.astro";
import Footer from "../components/essentials/Footer.astro";
import PiwikPro from "../components/essentials/PiwikPro.astro";
import AdoptionCard from '../components/AdoptionCard.astro';
import "../styles/slotwrapper.css"

const { title, description, date, pigeon_name, species, breed, gender, pubImage, sideImage1, sideImage2, sideImage3, sideImage4, slug} = Astro.props;

import { getCollection } from "astro:content"
const adoptions = await getCollection("adoptions");
const otherAdoptions = adoptions.filter(adoption => adoption.slug !== slug);

---

<html lang="en">
	<head>
        <BaseHead title={title} description={description} date={date}/>
    </head>
    <body>
        <PiwikPro />
        <Header />
        <main>
            <div class = "post">

                <div class="flex-container">
                    <img src={pubImage}>
                    <div class="specification box-shadow">
                        <div class = "title">
                            <h1>{pigeon_name}</h1>
                        </div>
                        <div class="title-specs">
                            <h3>Gatunek:</h3><span>{species}</span>
                        </div>
                        <div class="title-specs">
                            <h3>Rasa:</h3><span>{breed}</span>
                        </div>
                        <div class="title-specs">
                            <h3>Płeć:</h3><span>{gender}</span>
                        </div>
                        <div>
                            <a class="button button-peach button-div" href="mailto:fundacja@chatkagolebia.pl">Skontaktuj się</a>
                        </div>
                    </div>
                </div>


                <div class="description">
                    <h2>Opis</h2>
                    <div class="slot-wrapper">
                        <slot />
                    </div>
                </div>
            
            </div>
            <section class="image-gallery">
                <div class="image-gallery-container">
                    <img src={sideImage1}>
                    <img src={sideImage2}>
                    <img src={sideImage3}>
                    <img src={sideImage4}>
                </div>
            </section>
        </main>
            <div class="other-pigeons">
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">{adoptions.slice(0, 4).map((adoption) => <AdoptionCard adoption={adoption} />)}</div>
                            <div class="swiper-slide">{adoptions.slice(0, 4).map((adoption) => <AdoptionCard adoption={adoption} />)}</div>
                            <div class="swiper-slide">{adoptions.slice(0, 4).map((adoption) => <AdoptionCard adoption={adoption} />)}</div>
                        </div>
                    </div>
        
                    </div>
                    <!-- If we need pagination -->
                
                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev button-prev"></div>

                    <div class="swiper-button-next button-next"></div>
                
                    <!-- If we need scrollbar -->
                </div>
            </div>
            </section>

        <Footer />
    </body>

<style>

    .post {
        margin-inline: auto;
        max-width: 900px;
    }

    .description {
        margin-block: 5em;
    }

    main {
        padding-top: 4em;
        padding-inline: 2%;

        background-color: var(--cream);
    }

    .specification {
        margin-bottom: 4em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        background-color: white;
        padding: 30px;
        border-radius: 36px;
        width: 100%;
        margin-inline: auto;
    }

    .title-specs {
        display: flex;
        align-items: end;
        gap: 0.5em;
    }

    .specification span {
        font-size: 2rem;
        font-family: "Arial";
        font-weight: 400;     
    }

    .title {
        margin-block: 0.6em 1em;
        color: var(--plum);
    }

    .post h1 {
        text-align: center;
        font-size: 3.6rem;
        margin-bottom: 0.8em;
    }
    
    .description h2 {
        font-size: 3.6rem;
        margin-bottom: 0.8em;
        color: var(--plum);
    }

    .date-author {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .sources-images {
        margin-block: 3em;
    }

    .sources, .images {
        display: block;
        margin-block: 0.5em;
    }

    .date {
        margin-bottom: 0.5em;
    }

    .button-div {
        margin-top: 1em;
        width: 100%;
    }

    .date, .author {
        font-style: italic;
        font-size: 1.6rem;
        color: #342812;
    }
    
    .photos {
        display: block;
        font-size: 1.8rem;
    }

    .accent {
        font-weight: bold;
    }

    h1 {
        font-family: 'Ubuntu Condensed';
    } 


    .other-pigeons {
        background-color: var(--peach);
        padding: 160px 3% 100px;
        background-image: url('/images/index/blog-highlight.svg');
        background-color: var(--cream);
        background-size: stretch;
        background-size: 1800px;
    }

    .swiper-wrapper {
        margin-inline: auto;
        max-width: 1160px;
    }

    .swiper-slide {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 15px;
    }

    .image-gallery {
        gap: 15px;
        background-color: var(--cream);
        margin-inline: auto;
        
    }

    .swiper-button-next, .swiper-button-prev {
    color: var(--plum);
}

    .image-gallery-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        max-width: 1160px;
        margin-inline: auto;
    }

    .image-gallery img {
        object-fit: cover;
        max-width: 272px;
        height: 232px;
        }

    @media (min-width: 700px) {


    }

    @media (min-width: 1200px) {
        .flex-container {
            display: grid;
            grid-template-columns: 3fr 2fr;
            gap: 3em;    }

        .specification {
            width: 100%;
            margin-bottom: 0;
            justify-content: center;
        }

        .image-gallery {
            padding-block: 5em 10em;
        }
    }
</style>

<script src="/src/libs/slider-simple.js"></script>