---
import type { CollectionEntry } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/slotwrapper.css"
import FormattedDate from "../components/FormattedDate.astro";

const { title, author, description, pubDate, photos } = Astro.props;
// type Props = CollectionEntry<'reports'>['data'];
---

<html lang="en">
	<head>
        <BaseHead title={title} description={description} date={pubDate}/>
    </head>
    <body>
        <Header />
        <main>
            <div class = "post">
                <div class = "title">
                    <h1>{title}</h1>
                     <div class="date-author">
                        <span class="date">Opublikowano <FormattedDate date={pubDate}/></span>
                        <span class="author">{author}</span>
                     </div>
                </div>
                <div class="slot-wrapper">
                    <slot />
                </div>
                {photos && (
                    <span class="photos">
                        <span class="accent">Fot.</span> {photos}
                    </span>
                )}
            </div>
        </main>
        <Footer />
    </body>

<style>
    main {
        padding-block: 4em 8em;
        padding-inline: 2%;

        background-color: var(--cream);
    }
    .post {
        max-width: 720px;

    }
    .title {
        margin-block: 0.6em 5em;
    }
    .post h1 {
        text-align: center;
        font-size: 3.6rem;
        margin-bottom: 0.8em;
    }

    .date-author {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .sources-images {
        margin-block: 3em;
    }

    .sources, .images {
        display: block;
        margin-block: 0.5em;
    }

    .date {
        margin-bottom: 0.5em;
    }

    .date, .author {
        font-style: italic;
        font-size: 1.6rem;
        color: #342812;
    }
    
    .photos {
        display: block;
        font-size: 1.8rem;
    }

    .accent {
        font-weight: bold;
    }

    h1 {
        font-family: 'Ubuntu Condensed';
} 
</style>
