---
import type { CollectionEntry } from 'astro:content';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/slotwrapper.css"
import FormattedDate from "../components/FormattedDate.astro";

const { title, description, date } = Astro.props;

---

<html lang="en">
	<head>
        <BaseHead title={title} description={description} date={date}/>
    </head>
    <body>
        <Header />
        <main>
            <div class = "post">
                <div class = "title">
                    <h1>{title}</h1>
                    <h2><FormattedDate date={date}></h2>
                </div>
                <div class="slot-wrapper">
                    <slot />
                </div>
            </div>
        </main>
        <Footer />
    </body>

<style>
    main {
        padding-block: 4em 6em;
        padding-inline: 2%;

        background-color: var(--cream);
    }
    .post {
        max-width: 720px;

    }
    .title {
        margin: 0.6em 0.5em;
    }
    .post h1 {
        text-align: center;
        font-size: 3.6rem;
    }

    
</style>
